<%= form_for [ @article, @comment ] do |f| %>
  <p>
    <%= f.label "#{@article.user.profile.username}" %>
    <%= f.hidden_field 'user_id', value: current_user.id %>
  </p>
  <p>
    <%= f.text_area :body, class: 'comment-area' %>
  </p>
  <p class='comment-submit'>
  <%= f.submit 'Submit', class: 'comment-btn' %>
  </p>
<% end %>