<div class='action-buttons'>
  <% if user_signed_in? && current_user.id == @article.user_id %>
    <%= link_to 'Edit', edit_article_path(@article), class: 'button' %>
  <% end %>
  <%= link_to 'Back', articles_path, class: 'button prev-btn' %>
</div>

<section class='article-show'>
  <div class='article-header'>
    <h1><%= @article.title %></h1>
    <h2><%= @article.subheader %></h2>
  </div>

  <div class='article-content'>
    <%= @article.body %>
  </div>
</section>

<section class='comment'>
  <h2>Comments</h2>
  <% if user_signed_in? %>
    <%= render partial: 'comments/form' %>
  <% else %>
    <%= link_to 'Sign in to comment', sign_in_path %>
  <% end %>
  <% if @article.comments.length > 0 %>
  <hr>
  <%= render partial: 'articles/comment', collection: @article.comments.reverse %>
  <% end %>
</section>
